header {
    width: 100vw;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -o-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    background-color: rgba(20,21,26,.96);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}
.navbar {
    color: var(--white);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    background-color: rgba(20,21,26,.96);
}
.navbar > .container,
.navbar > .container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}
.navbar-brand {
    padding: 0.3125rem 0 0.3125rem;
    margin-left: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    line-height: 1.25;
    white-space: nowrap;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    width: 100%;
    justify-content: flex-end;
}
@media (min-width: 1200px) {
    .navbar-nav {
        padding: 0 0 0 2rem;
    }
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.collapse {
    height: auto;
    overflow: visible;
    transition: transform 0.3s ease-out;
    transform: scaleY(1);
    transform-origin: center;
}
.collapse:not(.show) {
    height: 0;
    overflow: hidden;
    transform: scaleY(0);
}

@media (min-width: 1200px) {
    .collapse:not(.show) {
        height: auto;
        overflow: visible;
        transform: scaleY(1);
    }
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 0;
}
@media (prefers-reduced-motion: reduce) {
    .navbar-toggler {
        transition: none;
    }
}
.navbar-toggler:hover {
    text-decoration: none;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

@media (min-width: 576px) {
    .navbar-expand-sm {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-sm .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-sm .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .navbar-expand-sm .navbar-nav-scroll {
        overflow: visible;
    }
    .navbar-expand-sm .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
    .navbar-expand-sm .navbar-toggler {
        display: none;
    }
    .navbar-expand-sm .offcanvas-header {
        display: none;
    }
    .navbar-expand-sm .offcanvas {
        position: inherit;
        bottom: 0;
        z-index: 1000;
        flex-grow: 1;
        visibility: visible !important;
        background-color: transparent;
        border-left: 0;
        border-right: 0;
        transition: none;
        transform: none;
    }
    .navbar-expand-sm .offcanvas-top,
    .navbar-expand-sm .offcanvas-bottom {
        height: auto;
        border-top: 0;
        border-bottom: 0;
    }
    .navbar-expand-sm .offcanvas-body {
        display: flex;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
    }
}
@media (min-width: 768px) {
    .navbar-expand-md {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-md .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .navbar-expand-md .navbar-nav-scroll {
        overflow: visible;
    }
    .navbar-expand-md .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
    .navbar-expand-md .navbar-toggler {
        display: none;
    }
    .navbar-expand-md .offcanvas-header {
        display: none;
    }
    .navbar-expand-md .offcanvas {
        position: inherit;
        bottom: 0;
        z-index: 1000;
        flex-grow: 1;
        visibility: visible !important;
        background-color: transparent;
        border-left: 0;
        border-right: 0;
        transition: none;
        transform: none;
    }
    .navbar-expand-md .offcanvas-top,
    .navbar-expand-md .offcanvas-bottom {
        height: auto;
        border-top: 0;
        border-bottom: 0;
    }
    .navbar-expand-md .offcanvas-body {
        display: flex;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .navbar-expand-lg .navbar-nav-scroll {
        overflow: visible;
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
    .navbar-expand-lg .offcanvas-header {
        display: none;
    }
    .navbar-expand-lg .offcanvas {
        position: inherit;
        bottom: 0;
        z-index: 1000;
        flex-grow: 1;
        visibility: visible !important;
        background-color: transparent;
        border-left: 0;
        border-right: 0;
        transition: none;
        transform: none;
    }
    .navbar-expand-lg .offcanvas-top,
    .navbar-expand-lg .offcanvas-bottom {
        height: auto;
        border-top: 0;
        border-bottom: 0;
    }
    .navbar-expand-lg .offcanvas-body {
        display: flex;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
    }
}
@media (min-width: 1200px) {
    .navbar-expand-xl {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-xl .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-xl .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-xl .navbar-nav .nav-link {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .navbar-expand-xl .navbar-nav-scroll {
        overflow: visible;
    }
    .navbar-expand-xl .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
    .navbar-expand-xl .navbar-toggler {
        display: none;
    }
    .navbar-expand-xl .offcanvas-header {
        display: none;
    }
    .navbar-expand-xl .offcanvas {
        position: inherit;
        bottom: 0;
        z-index: 1000;
        flex-grow: 1;
        visibility: visible !important;
        background-color: transparent;
        border-left: 0;
        border-right: 0;
        transition: none;
        transform: none;
    }
    .navbar-expand-xl .offcanvas-top,
    .navbar-expand-xl .offcanvas-bottom {
        height: auto;
        border-top: 0;
        border-bottom: 0;
    }
    .navbar-expand-xl .offcanvas-body {
        display: flex;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
    }
}
@media (min-width: 1400px) {
    .navbar-expand-xxl {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-xxl .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-xxl .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-xxl .navbar-nav .nav-link {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .navbar-expand-xxl .navbar-nav-scroll {
        overflow: visible;
    }
    .navbar-expand-xxl .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
    .navbar-expand-xxl .navbar-toggler {
        display: none;
    }
    .navbar-expand-xxl .offcanvas-header {
        display: none;
    }
    .navbar-expand-xxl .offcanvas {
        position: inherit;
        bottom: 0;
        z-index: 1000;
        flex-grow: 1;
        visibility: visible !important;
        background-color: transparent;
        border-left: 0;
        border-right: 0;
        transition: none;
        transform: none;
    }
    .navbar-expand-xxl .offcanvas-top,
    .navbar-expand-xxl .offcanvas-bottom {
        height: auto;
        border-top: 0;
        border-bottom: 0;
    }
    .navbar-expand-xxl .offcanvas-body {
        display: flex;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
    }
}

.navbar-nav .nav-link {
    color: var(--white);
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: var(--white);
}
.navbar-nav .show > .nav-link,
.navbar-nav .nav-link.active {
    color: var(--white);
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-icon {
    height: 30px;
    width: 30px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: block;
}
.navbar-icon__line-left {
    width: 16.5px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
.navbar-icon__line {
    height: 2px;
    width: 30px;
    display: block;
    background-color: var(--white);
    margin-bottom: 7px;
    cursor: pointer;
    -webkit-transition: background-color .5s ease,-webkit-transform .2s ease;
    transition: background-color .5s ease,-webkit-transform .2s ease;
    transition: transform .2s ease,background-color .5s ease;
    transition: transform .2s ease,background-color .5s ease,-webkit-transform .2s ease;
}
.navbar-icon:hover .navbar-icon__line-left,
.navbar-icon:hover .navbar-icon__line-right {
    width: 30px;
}
.nav-active .navbar-icon__line {
    background-color: var(--white);
    -webkit-transform: translate(0,0) rotate(-45deg);
    transform: translate(0,0) rotate(-45deg);
}
.nav-active .navbar-icon:hover .navbar-icon__line-left,
.nav-active .navbar-icon:hover .navbar-icon__line-right {
    width: 15px;
}
.nav-active .navbar-icon__line-left {
    width: 15px;
    -webkit-transform: translate(2px,4px) rotate(45deg);
    transform: translate(2px,4px) rotate(45deg);
}
.nav-active .navbar-icon:hover .menu-icon__line-left,
.nav-active .navbar-icon:hover .menu-icon__line-right {
    width: 15px;
}
.nav-active .navbar-icon__line-right {
    width: 15px;
    float: right;
    -webkit-transform: translate(-3px,-3.5px) rotate(45deg);
    transform: translate(-3px,-3.5px) rotate(45deg);
}
main {
    padding: 5rem 0 0;
}
main .info-ava {
    margin: 0 0 1.5rem;
}
main .name-profession {
    line-height: 1;
}
main .name-profession h1{
    margin: 0;
}
main .avatar {
    width: 8rem;
    height: auto;
    border-radius: 8rem;
}
main .info-about {
    color: var(--gray);
}
main .info-about a {
    color: var(--gray);
}
main .info-about ul {
    padding: 0;
}
main .info-about .technologies {
    display: flex;
}
main .title-color-black {
    color: var(--dark);
}
.card {
    color: var(--dark);
    margin: 0 0 2.5rem;
}
.card h2,
.card h3,
.card h4 {
    color: var(--dark);
}
.card i {
    font-weight: 400;
    color: var(--gray);
}
footer {
    color: var(--white);
    margin: 2rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    background: var(--dark);
}
footer p {
    margin: 0;
}
footer a {
    color: var(--white);
    text-decoration: none;
}
footer .my-github {
    display: flex;
    align-items: center;
    align-content: center;
}
footer .github-icon {
    margin-right: 0.5rem;
}
